<header class="sticky flex flex-col h-100 w-full text-text font-sans">
  <h1 class="antialiased font-medium text-6xl underline decoration-peach mb-2">Allen Gueco</h1>
  <h2 class="antialiased font-medium text-2xl">Full Stack Engineer</h2>
  <p class="text-lg mt-4">I'm a software developer based in Philadelphia, PA.</p>
  <p class="text-lg mt-3">I am passionate about creating and designing scalable, flexible, and robust systems.</p>
  <ul class="mt-4 flex flex-col">
    <li>
      <a>about</a>
    </li>
    <li>
      <a>experience</a>
    </li>
    <li>
      <a>projects</a>
    </li>
    <li>
      <a>resume</a>
    </li>
  </ul>
  <div class="bottom flex">
    @for (s of socials; track s.icon) {
      <a href={{s.link}}>
        <i class="pi {{s.icon}}"></i>
      </a>
    }
  </div>
</header>
