<header class="sticky flex flex-col h-full w-full text-text font-sans">
  <h1 class="antialiased font-medium text-6xl underline decoration-peach mb-2">Allen Gueco</h1>
  <p class="text-lg mt-4 text-subtext0">I'm a software developer based in Philadelphia, PA.</p>
  <p class="text-lg mt-4 text-subtext0">I am passionate about creating and designing scalable, flexible, and robust systems.</p>
  <div class="flex">
    @for (s of socials; track s.icon) {
      <a href={{s.link}}>
        <i class="pi {{s.icon}} text-lg"></i>
      </a>
    }
  </div>
  <ul>
    <li class="flex flex-col">
      <a>about</a>
      <a>experience</a>
      <a>projects</a>
      <a>contact</a>
      <a>resume</a>
    </li>
  </ul>
</header>
