name: cicd

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: deploy to server
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Dokploy deploy
        run: |
          curl -X POST "${{ secrets.DOKPLOY_WEBHOOK_URL }}"

